.chat-monitor__content__details
  .chat-monitor__content__details__user-name
    %p
      = user_name
  .chat-monitor__content__details__time
    %p
      = sending_time
  .chat-monitor__content__details__message
    %p
      = message
