.chat-monitor
  .chat-monitor__group-details
    .chat-monitor__group-details__name
      %p
        sampleグループ
    .chat-monitor__group-details__edit
      = link_to "http://www.google.com" do
        %span
          Edit
  .chat-monitor__content
    = render partial: "messages", locals: {user_name: "ryosukemaehira", sending_time: "2016/10/02 06:27:07", message: "なるほど"}
    = render partial: "messages", locals: {user_name: "ryosukemaehira", sending_time: "2016/10/02 06:27:14", message: "水色きれい"}
    = render partial: "messages", locals: {user_name: "ryosukemaehira", sending_time: "2016/10/02 06:27:30", message: "お腹すいた"}

  .chat-monitor__sending-massage
    %form
      %input.form--textarea{type: "text", placeholder: "type a message", name: "file",action: "/"}
      %label.upload-label{for: "upload-icon"}
        %i.fa.fa-picture-o
      %input{type: "file", id: "upload-icon", style: "display:none"}
      %input.form--button{type: "submit", value: "Send"}
